*{
   margin: 0; 
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
.container{
width: 1200px;
margin: 0 auto;
}
header{
background:url(content\ 1\ \(1\).png) no-repeat  center/cover;
height: 100vh;
width: 100%;

}
body{
    background-color: rgba(202, 95, 24, 0.534);
}
nav{
    display: flex;
    justify-content: space-between;
}
.header_menu{
    display: flex;
     list-style: none;
     margin-top: 10px;
}
.header_menu a{
    text-decoration: none;
    padding: 23px 23px 22px;
    display: block;
    font-size: 18px;
    transition: 0.5s;
    font-weight: bold;
    color: white;
}
.header_menu a:hover{
background-color:rgb(255, 77, 0);
color: white;
}
.logo{
    margin-top: 20px;
}
.header_info {
display: flex;
justify-content: center;
align-items: center;
height:800px ;
}
.header_info h1 {
    font-family: 'Roboto';
    font-size: 120px;
    font-weight: 700;
    line-height: 58.59px;
    width: 112px;
    color:#ffff;
    text-shadow: 2px 2px 2px rgb(255, 77, 0);
    
    
}

.header_info p {
    color:rgb(255, 77, 0); 
    line-height: 23px;
font-size: 15px;
font-weight: 400;

padding-top: 110px;
    
    
}
.main{
    display: flex;
    justify-content: space-between;
}


.left{
    width: 540px;
height: 467px;
border-radius: 6px;
}
.left h2{
    color: #FFFFFF;
    text-shadow: 0px 3px 3px gray; 
}
.left p{
    font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 10px;
}

.right{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.right_item{
    width: 255px;
    box-shadow: 0px 3px 3px gray;
    border-radius: 10px;    
}
.right h2{
    color: #FFFFFF;
    text-shadow: 0px 3px 3px gray;
}
.right_item p{
    padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}
footer{
    background-color: gray

}
.footer_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-shadow: 0px 3px 3px gray;
    
}
.footer_menu ul {
 display: flex;
 gap: 60px;
 
}
.footer_menu ul a{
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer_menu ul a:hover{
color:  rgb(255, 77, 0);
transition: 0.5s;
}